@forward "./Assets/GeneralStyleSheets/Partials";
@use "/Colors/colors1" as *;
body {
    display: flex;
    flex-direction: column;
    height: 2000px;
    padding: 1vw;
    margin: 0px;
    background-color: $DrkBgClr1;
}

