// Dark Theme
    $DrkBgClr1: #0d1b2a;
    $DrkBgClr2: #003566;
    $DrkBgClrCntrst1: #f58e4e;
    $DrkBgClrCntrst2: #48679e;
    $DrkSdBarClr1: #415a77;
    $DrkSdBarClr2: #343a40;
    $WhiteVar1: rgba(240, 219, 219, 1.5);
    $DrkFntClr1: #0077b6;
    $DrkFntClr2: #8e9aaf;
    $CntrstClr1: #99d98c;
    $CntrstClr2: #e36414;
    $CntrstClr3: #925800;
// BrighTheme
    