@use "/Colors/colors1" as *;

.leftSideB {

    position: fixed;
    top: 22%;
    z-index: -1;
    display: flex;
    flex-direction: column;
    width: min(25vw , 200px);
    color: $WhiteVar1;
    background-color: $DrkSdBarClr1;
}